*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#eef2f7;
overflow:hidden;
}

/*=====================
SIDEBAR
======================*/

.sidebar{

position:fixed;
left:0;
top:0;

width:240px;
height:100vh;

background:#fff;

border-right:1px solid #ddd;

display:flex;
flex-direction:column;

}

.profile{

display:flex;
align-items:center;
gap:12px;

padding:18px;

border-bottom:1px solid #eee;

}

.avatar{

width:42px;
height:42px;

background:#123a88;
color:#fff;

display:flex;
justify-content:center;
align-items:center;

border-radius:8px;
font-weight:bold;

}

.profile p{
font-size:12px;
color:#666;
}

.title{

margin:22px 18px 8px;

font-size:11px;
font-weight:bold;

color:#555;

}

.sidebar ul{
list-style:none;
}

.sidebar li{

margin:6px 18px;
padding:12px;

border-radius:8px;

cursor:pointer;

transition:.3s;

font-size:14px;

}

.sidebar li:hover{

background:#eefcff;

}

.active{

border:1px solid #74dce6;

background:#f6ffff;

}

.bottom{

margin-top:auto;
padding-bottom:20px;

}

/*=====================
MAIN
======================*/

.main{

margin-left:240px;

height:100vh;

display:flex;
flex-direction:column;

}

header{

background:#123a88;
color:#fff;

padding:18px 25px;

font-weight:bold;

flex-shrink:0;

}

/* Scroll only here */

.content{

flex:1;

overflow-y:auto;

padding:25px;

}

/*=====================
CARD
======================*/

.card{

background:#fff;

border:2px solid #aeeef1;

border-radius:18px;

padding:28px;

min-height:900px;

}

.desc{

margin:15px 0 25px;
color:#555;

}

.grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

}

.input-box{

display:flex;
flex-direction:column;

margin-bottom:18px;

}

label{

margin-bottom:8px;

font-size:13px;

}

input{

padding:14px;

background:#f3f3f3;

border:none;

border-radius:8px;

outline:none;

}

.buttons{

display:flex;

justify-content:flex-end;

gap:10px;

margin-top:15px;

}

button{

padding:12px 25px;

border-radius:8px;

cursor:pointer;

}

.clear{

border:1px solid #74dce6;

background:white;

}

.save{

background:#56d2d2;

color:#fff;

border:none;

}

.save:hover{

background:#35b8b8;

}

hr{

margin:35px 0;

border:.5px solid #ddd;

}

.info{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;

margin-top:20px;

}

.info-card{

border:1px solid #7ddfe9;

border-radius:10px;

padding:20px;

}

.info-card i{

font-size:22px;

color:#58d1d8;

margin-bottom:15px;

}

.info-card h3{

font-size:15px;

margin-bottom:10px;

}

.info-card p{

font-size:13px;

color:#666;

}

/*=====================
Responsive
======================*/

@media(max-width:900px){

.sidebar{

position:relative;
width:100%;
height:auto;

}

.main{

margin-left:0;

}

body{

overflow:auto;

}

.content{

overflow:visible;

}

.grid{

grid-template-columns:1fr;

}

.info{

grid-template-columns:1fr;

}

}